name: build-vscode-web-manager-frontend
on: push
jobs:
  build-vscode-web-manager-frontend-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: clean to default
        run: sed -i 's/https:\/\/developsource.819819.xyz//g'   ./services/api.ts

      - name: cat packageService.ts
        run: cat ./services/api.ts

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push vscode-web-manager-frontend
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            runshine0819/vscode-web-manager-frontend:latest
            ghcr.io/runshine/vscode-web-manager-frontend:latest
          file: Dockerfile


